.navigation {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;

  .nav-button {
    position: fixed;
    top: 32px;
    right: 32px;
    border: unset;
    background-color: unset;
    cursor: pointer;
    width: 40px;
    height: 40px;
    z-index: 5000;

    &.active {
      &:after {
        @include rotate(45deg);
        top: 50%;
      }
      &:before {
        @include rotate(-45deg);
        top: 50%;
      }
    }

    &:after,
    &:before {
      @include t();
      content: "";
      display: block;
      position: absolute;
      width: 40px;
      padding: 0;
      right: 0;
      height: 5px;
      background-color: rgb(var(--color-blue));
      transform-origin: center center;
    }

    &:after {
      top: calc(50% - 4px);
    }

    &:before {
      top: calc(50% + 4px);
    }
  }

  &.active {
    bottom: 0;
    left: 0;
    pointer-events: all;

    .nav-button {
      &:before,
      &:after {
        background-color: rgb(var(--color-text-white));
      }
    }
    .nav-content {
      z-index: 19;
      visibility: visible;
      opacity: 1;
      pointer-events: all;
      transform: translateX(0);

      a {
        transform: translateX(0);
        opacity: 1;
      }
    }
  }

  .nav-content {
    @include t(0.2s, cubic-bezier(0.65, 0, 0.35, 1));
    @include flex($justify: center, $align: flex-end, $direction: column, $gap: 40px);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    padding-right: 128px;
    background-color: rgb(var(--color-blue));
    visibility: hidden;
    z-index: -1;
    pointer-events: none;
    opacity: 0;
    transform: translateX(64px);

    a {
      @include font(900);
      @include t(0.1s);
      position: relative;
      padding: 0 128px;
      font-size: 8vh;
      text-decoration: none;
      color: rgb(var(--color-text-white));
      letter-spacing: 0.1em;
      opacity: 0;

      &.router-link-active,
      &:hover {
        // font-style: italic;
        color: rgb(var(--color-text));
      }

      // &:before {
      //   @include t(0.1s);
      //   content: "";
      //   // left: 0;
      //   position: absolute;
      //   bottom: 0;
      //   right: -128px;
      //   height: 0px;
      //   z-index: -1;
      //   opacity: 0;
      //   background-color: rgba(var(--color-blue), 0.25);

      //   transform: skew(-35deg);
      //   transform-origin: bottom left;
      // }

      // &:hover {
      //   // color: rgba(var(--color-blue), 1);

      //   &:before {
      //     width: 100%;
      //     height: 100%;
      //     opacity: 1;
      //     right: 0;
      //   }
      // }
    }
  }
}
